name: surplace_pos
description: Simple POS app
publish_to: "none"

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.22.0"

dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  esc_pos_printer: ^4.0.4
  esc_pos_utils_plus: ^2.0.1+6
  path_provider: ^2.1.3
  share_plus: ^7.2.1
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
